aiohttp==3.8.1
black==21.5b2
checklist==0.0.11
clip==1.0
datasets==1.7.0
en-core-web-sm==3.0.0
flake8==3.9.2
imgaug==0.4.0
isort==5.9.1
num2words==0.5.10
pip-chill==1.0.1
pre-commit==2.13.0
pytest-cov==2.12.1
pytorch-pretrained-bert==0.6.2
responses==0.17.0
sacrebleu==1.5.1
sentencepiece==0.1.95
seqeval==1.2.2
word2number==1.1
